@import "base.scss";

.red {
    width: 200px;
    height: 200px;
    border:  red 5px solid;
    &__inner {
        width: 20px;
        height: 20px;
        background-color: black;
    }
}
$primary: #326DEE;
h1 {
    color: $primary;
}
$secondary: #326DEE;
p {
    color: $secondary;
}

